In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("HR Data.csv")

In [3]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [6]:
#Eliminating redundant entries.
df.drop_duplicates(inplace=True)


df.reset_index(drop=True, inplace=True)


print(df)

      Age Attrition     BusinessTravel  DailyRate              Department  \
0      41       Yes      Travel_Rarely       1102                   Sales
1      49        No  Travel_Frequently        279  Research & Development
2      37       Yes      Travel_Rarely       1373  Research & Development
3      33        No  Travel_Frequently       1392  Research & Development
4      27        No      Travel_Rarely        591  Research & Development
...   ...       ...                ...        ...                     ...
1465   36        No  Travel_Frequently        884  Research & Development
1466   39        No      Travel_Rarely        613  Research & Development
1467   27        No      Travel_Rarely        155  Research & Development
1468   49        No  Travel_Frequently       1023                   Sales
1469   34        No      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
0                    1          2  Life Sciences              1
1                    8          1  Life Sciences              1
2                    2          2          Other              1
3                    3          4  Life Sciences              1
4                    2          1        Medical              1
...                ...        ...            ...            ...
1465                23          2        Medical              1
1466                 6          1        Medical              1
1467                 4          3  Life Sciences              1
1468                 2          3        Medical              1
1469                 8          3        Medical              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
0                  1  ...                         1            80
1                  2  ...                         4            80
2                  4  ...                         2            80
3                  5  ...                         3            80
4                  7  ...                         4            80
...              ...  ...                       ...           ...
1465            2061  ...                         3            80
1466            2062  ...                         1            80
1467            2064  ...                         2            80
1468            2065  ...                         4            80
1469            2068  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                    0                  8                      0
1                    1                 10                      3
2                    0                  7                      3
3                    0                  8                      3
4                    1                  6                      3
...                ...                ...                    ...
1465                 1                 17                      3
1466                 1                  9                      5
1467                 1                  6                      0
1468                 0                 17                      3
1469                 0                  6                      3

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
0                  1               6                  4
1                  3              10                  7
2                  3               0                  0
3                  3               8                  7
4                  3               2                  2
...              ...             ...                ...
1465               3               5                  2
1466               3               7                  7
1467               3               6                  2
1468               2               9                  6
1469               4               4                  3

      YearsSinceLastPromotion  YearsWithCurrManager
0                           0                     5
1                           1                     7
2                           0                     0
3                           3                     0
4                           2                     2
...                       ...                   ...
1465                        0                     3
1466                        1                     7
1467                        0                     3
1468                        0                     8
1469                        1                     2

[1470 rows x 35 columns]

In [7]:
#sanitizing specific columns.
df['Attrition'] = df['Attrition'].apply(lambda x: 'Yes' if x.lower() == 'yes' else 'No')


print(df)

      Age Attrition     BusinessTravel  DailyRate              Department  \
0      41       Yes      Travel_Rarely       1102                   Sales
1      49        No  Travel_Frequently        279  Research & Development
2      37       Yes      Travel_Rarely       1373  Research & Development
3      33        No  Travel_Frequently       1392  Research & Development
4      27        No      Travel_Rarely        591  Research & Development
...   ...       ...                ...        ...                     ...
1465   36        No  Travel_Frequently        884  Research & Development
1466   39        No      Travel_Rarely        613  Research & Development
1467   27        No      Travel_Rarely        155  Research & Development
1468   49        No  Travel_Frequently       1023                   Sales
1469   34        No      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
0                    1          2  Life Sciences              1
1                    8          1  Life Sciences              1
2                    2          2          Other              1
3                    3          4  Life Sciences              1
4                    2          1        Medical              1
...                ...        ...            ...            ...
1465                23          2        Medical              1
1466                 6          1        Medical              1
1467                 4          3  Life Sciences              1
1468                 2          3        Medical              1
1469                 8          3        Medical              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
0                  1  ...                         1            80
1                  2  ...                         4            80
2                  4  ...                         2            80
3                  5  ...                         3            80
4                  7  ...                         4            80
...              ...  ...                       ...           ...
1465            2061  ...                         3            80
1466            2062  ...                         1            80
1467            2064  ...                         2            80
1468            2065  ...                         4            80
1469            2068  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                    0                  8                      0
1                    1                 10                      3
2                    0                  7                      3
3                    0                  8                      3
4                    1                  6                      3
...                ...                ...                    ...
1465                 1                 17                      3
1466                 1                  9                      5
1467                 1                  6                      0
1468                 0                 17                      3
1469                 0                  6                      3

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
0                  1               6                  4
1                  3              10                  7
2                  3               0                  0
3                  3               8                  7
4                  3               2                  2
...              ...             ...                ...
1465               3               5                  2
1466               3               7                  7
1467               3               6                  2
1468               2               9                  6
1469               4               4                  3

      YearsSinceLastPromotion  YearsWithCurrManager
0                           0                     5
1                           1                     7
2                           0                     0
3                           3                     0
4                           2                     2
...                       ...                   ...
1465                        0                     3
1466                        1                     7
1467                        0                     3
1468                        0                     8
1469                        1                     2

[1470 rows x 35 columns]

In [9]:
#Eliminate the dataset's NaN values.
df = df.dropna()
print(df)

      Age Attrition     BusinessTravel  DailyRate              Department  \
0      41       Yes      Travel_Rarely       1102                   Sales
1      49        No  Travel_Frequently        279  Research & Development
2      37       Yes      Travel_Rarely       1373  Research & Development
3      33        No  Travel_Frequently       1392  Research & Development
4      27        No      Travel_Rarely        591  Research & Development
...   ...       ...                ...        ...                     ...
1465   36        No  Travel_Frequently        884  Research & Development
1466   39        No      Travel_Rarely        613  Research & Development
1467   27        No      Travel_Rarely        155  Research & Development
1468   49        No  Travel_Frequently       1023                   Sales
1469   34        No      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
0                    1          2  Life Sciences              1
1                    8          1  Life Sciences              1
2                    2          2          Other              1
3                    3          4  Life Sciences              1
4                    2          1        Medical              1
...                ...        ...            ...            ...
1465                23          2        Medical              1
1466                 6          1        Medical              1
1467                 4          3  Life Sciences              1
1468                 2          3        Medical              1
1469                 8          3        Medical              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
0                  1  ...                         1            80
1                  2  ...                         4            80
2                  4  ...                         2            80
3                  5  ...                         3            80
4                  7  ...                         4            80
...              ...  ...                       ...           ...
1465            2061  ...                         3            80
1466            2062  ...                         1            80
1467            2064  ...                         2            80
1468            2065  ...                         4            80
1469            2068  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                    0                  8                      0
1                    1                 10                      3
2                    0                  7                      3
3                    0                  8                      3
4                    1                  6                      3
...                ...                ...                    ...
1465                 1                 17                      3
1466                 1                  9                      5
1467                 1                  6                      0
1468                 0                 17                      3
1469                 0                  6                      3

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
0                  1               6                  4
1                  3              10                  7
2                  3               0                  0
3                  3               8                  7
4                  3               2                  2
...              ...             ...                ...
1465               3               5                  2
1466               3               7                  7
1467               3               6                  2
1468               2               9                  6
1469               4               4                  3

      YearsSinceLastPromotion  YearsWithCurrManager
0                           0                     5
1                           1                     7
2                           0                     0
3                           3                     0
4                           2                     2
...                       ...                   ...
1465                        0                     3
1466                        1                     7
1467                        0                     3
1468                        0                     8
1469                        1                     2

[1470 rows x 35 columns]

In [10]:
#Giving the columns new names.
df = df.rename(columns={
    'Age': 'Age_new',
    'Attrition': 'Attrition_new',
    'BusinessTravel': 'BusinessTravel_new',
    'DailyRate': 'DailyRate_new',
    'Department': 'Department_new'
   
})

print(df.head())

   Age_new Attrition_new BusinessTravel_new  DailyRate_new  \
0       41           Yes      Travel_Rarely           1102
1       49            No  Travel_Frequently            279
2       37           Yes      Travel_Rarely           1373
3       33            No  Travel_Frequently           1392
4       27            No      Travel_Rarely            591

           Department_new  DistanceFromHome  Education EducationField  \
0                   Sales                 1          2  Life Sciences
1  Research & Development                 8          1  Life Sciences
2  Research & Development                 2          2          Other
3  Research & Development                 3          4  Life Sciences
4  Research & Development                 2          1        Medical

   EmployeeCount  EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
0              1               1  ...                         1            80
1              1               2  ...                         4            80
2              1               4  ...                         2            80
3              1               5  ...                         3            80
4              1               7  ...                         4            80

   StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  \
0                 0                  8                      0               1
1                 1                 10                      3               3
2                 0                  7                      3               3
3                 0                  8                      3               3
4                 1                  6                      3               3

   YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  \
0               6                  4                        0
1              10                  7                        1
2               0                  0                        0
3               8                  7                        3
4               2                  2                        2

   YearsWithCurrManager
0                     5
1                     7
2                     0
3                     0
4                     2

[5 rows x 35 columns]

In [13]:

import pandas as pd


df = pd.DataFrame(df)


df = df.drop_duplicates()



clean_data = df.to_dict(orient='records')
print(df)

      Age_new Attrition_new BusinessTravel_new  DailyRate_new  \
0          41           Yes      Travel_Rarely           1102
1          49            No  Travel_Frequently            279
2          37           Yes      Travel_Rarely           1373
3          33            No  Travel_Frequently           1392
4          27            No      Travel_Rarely            591
...       ...           ...                ...            ...
1465       36            No  Travel_Frequently            884
1466       39            No      Travel_Rarely            613
1467       27            No      Travel_Rarely            155
1468       49            No  Travel_Frequently           1023
1469       34            No      Travel_Rarely            628

              Department_new  DistanceFromHome  Education EducationField  \
0                      Sales                 1          2  Life Sciences
1     Research & Development                 8          1  Life Sciences
2     Research & Development                 2          2          Other
3     Research & Development                 3          4  Life Sciences
4     Research & Development                 2          1        Medical
...                      ...               ...        ...            ...
1465  Research & Development                23          2        Medical
1466  Research & Development                 6          1        Medical
1467  Research & Development                 4          3  Life Sciences
1468                   Sales                 2          3        Medical
1469  Research & Development                 8          3        Medical

      EmployeeCount  EmployeeNumber  ...  RelationshipSatisfaction  \
0                 1               1  ...                         1
1                 1               2  ...                         4
2                 1               4  ...                         2
3                 1               5  ...                         3
4                 1               7  ...                         4
...             ...             ...  ...                       ...
1465              1            2061  ...                         3
1466              1            2062  ...                         1
1467              1            2064  ...                         2
1468              1            2065  ...                         4
1469              1            2068  ...                         1

     StandardHours  StockOptionLevel  TotalWorkingYears  \
0               80                 0                  8
1               80                 1                 10
2               80                 0                  7
3               80                 0                  8
4               80                 1                  6
...            ...               ...                ...
1465            80                 1                 17
1466            80                 1                  9
1467            80                 1                  6
1468            80                 0                 17
1469            80                 0                  6

      TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                         0               1               6
1                         3               3              10
2                         3               3               0
3                         3               3               8
4                         3               3               2
...                     ...             ...             ...
1465                      3               3               5
1466                      5               3               7
1467                      0               3               6
1468                      3               2               9
1469                      3               4               4

     YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                     4                        0                     5
1                     7                        1                     7
2                     0                        0                     0
3                     7                        3                     0
4                     2                        2                     2
...                 ...                      ...                   ...
1465                  2                        0                     3
1466                  7                        1                     7
1467                  2                        0                     3
1468                  6                        0                     8
1469                  3                        1                     2

[1470 rows x 35 columns]